backoff
Brotli
certifi
charset-normalizer
click
colorama
Deprecated
Flask
Flask-Compress
googleapis-common-protos
grpcio
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
newrelic
numpy
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-jinja2
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
opentelemetry-instrumentation-wsgi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
protobuf==3.20.1
pyparsing
python-dateutil
pytz
requests
six
tenacity
typing_extensions
urllib3
wrapt
zipp
